@page "/counter"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Counter</PageTitle>

@if (isConnected)
{
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}
else
{
    <p>Wczytywanie...</p>
}

@code {
    private int currentCount = 0;
    private const string COUNT_KEY = "count";
    private bool isConnected = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isConnected = true;
            var result = await ProtectedSessionStore.GetAsync<int>(COUNT_KEY);
            currentCount = result.Success ? result.Value : 0;
            StateHasChanged();
        }       
    }

    private async Task IncrementCount()
    {
        currentCount++;
        await ProtectedSessionStore.SetAsync(COUNT_KEY, currentCount);
    }
}
