@page "/"
@namespace ImageAnnotationTool.Pages
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedSessionStorage ProtectedSessionStore;

<PageTitle>Fotograf</PageTitle>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Drogi użytkowniku!</h4>
    <p class="mb-0">Witaj w naszej aplikacji! Zaloguj się aby rozpocząć pracę ze swoimi projektami. Jeśli nie posiadasz jeszcze konta, koniecznie je załóż. .</p>
</div>

<img class="Obrazek" src="Trust.png" alt="schemat">
    


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Znaczenie</th>
            <th scope="col">Cecha</th>
        </tr>
    </thead>
    <tbody>
       
        <tr class="table-primary">
            <th scope="row">Wychodzimy z założenia, że Twoja praca jest już wystarczająco trudna, dlatego robimy wszystko co w naszej mocy, aby nie dokładać Ci zmartwień</th>

            <td>Prostota</td>
            </tr>
      
        <tr class="table-success">
            <th scope="row">Dobre rozwiązanie nie może Cię zawieść. Dlatego aplikacja TODO działa w każdych warunkach i o każdej porze dnia i nocy.</th>
            <td>Zaufanie</td>
           
        </tr>
        <tr class="table-danger">
            <th scope="row">Wiemy, że na codzień robisz wszystko, aby pozostawić ten świat choć troszkę lepszym. Dlatego my też nie próżnujemy i aktywnie rozwijamy nasze rozwiązanie</th>
            <td>Development</td>
          
        </tr>
        <tr class="table-warning">
            <th scope="row">Przy pomocy jednego konta jesteś w stanie kontrolować postępy wszystkich swoich zespołów, zobaczyć szczegółowe statystyki, a także wyeksportować obrobione dane</th>
            <td>Organizacja</td>
          
        </tr>
          </tbody>
</table>










<div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Na co czekasz?</h4>
    <p class="mb-0">Zacznij swoją przygodę już dziś i dołącz do nas!</p>
</div>

@*@code{
    private bool UserLoggedIn=false;

    private async Task checkIfUserLoggedIn()
    {
        var currentUser = await ProtectedSessionStore.GetAsync<int>("userID");
        if (currentUser.Value!=null)
        {
            UserLoggedIn = true;
        }
        Console.WriteLine(UserLoggedIn);
    }
}*@