@page "/"
@namespace ImageAnnotationTool.Pages

<PageTitle>Fotograf</PageTitle>


<h3>Witaj w naszej aplikacji</h3>
<h5>Zaloguj się aby rozpocząć pracę ze swoimi projektami. Jeśli nie posiadasz jeszcze konta, koniecznie je załóż</h5>