@page "/main"
@using ImageAnnotationToolDataAccessLibrary.Models;
@using System.ComponentModel.DataAnnotations;

<PageTitle>Strona Główna</PageTitle>

<div>
    <div>
        <h5><strong class="text-muted">Zespoły  
            <button type="button" class="btn btn-outline-dark">+</button></strong></h5>
    </div>
    <div>
        <h4><strong>Zespół Alpha</strong></h4>
        <a class="text-muted">Projekty</a>
        <a class="text-muted">Członkowie</a>
        <a class="text-muted">Ustawienia</a>
    </div>
<div>
    <h4><strong class="text-muted">OSTATNIO PRZEGLĄDANE</strong></h4>
   
<table class="table table-hover">
  <thead>
    <tr>
      <td ><button type="button" class="btn btn-secondary">Secondary</button></td>
      <td ><button type="button" class="btn btn-secondary">Secondary</button></td>
      <td ></td>
    </tr>
  </thead>
 </table>

  </div>

  <div>
    <h4><strong class="text-muted">TWOJE ZESPOŁY</strong></h4>
   <div>
       <div>
       <h4>Zespół Alpha</h4>
       <button type="button" class="btn btn-outline-light">Projekty</button>
       <button type="button" class="btn btn-outline-light">Członkowie</button>
       <button type="button" class="btn btn-outline-light">Ustawienia</button>
       </div>
  <table>
  <thead>
    <tr>
      <td ><button type="button" class="btn btn-secondary">Secondary</button></td>
      <td ><button type="button" class="btn btn-secondary">Secondary</button></td>
      <td ></td>
    </tr>
  </thead>
 </table>
   </div>


  </div>


  </div>