@page "/about"
@using ImageAnnotationToolDataAccessLibrary.Models.TeamManagement;
@using System.ComponentModel.DataAnnotations;

<PageTitle>Zmień hasło</PageTitle>

<h3>FAQ</h3>


<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ile mnie to będzie kosztować?</h5>
            
        </div>
        <p class="mb-1">Wszystkie funkcjonalności dostarczane przez nasz serwis są darmowe.</p>
       
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Kto jest właścicielem danych?</h5>
            
        </div>
        <p class="mb-1">Administratorem danych osobowych jesteśmy my. Jednakże wszystkie dane intelektualne należą oczywiście do Twojego zespołu</p>
       
    </a>

     <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Dlaczego mam wybrać Was?</h5>
            
        </div>
        <p class="mb-1">Oferujemy najbardziej przyjazne pod względem organizacyjnym środowisko do adnotacji zdjęć. Dodatkowo nasz UI został zaprojektowany z myślą o ergonomicznej pracy</p>
       

    </a>


    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Jaki jest wasz zysk?</h5>

        </div>
        <p class="mb-1">Aplikacja jest projektem zaliczeniowym na studia. Wasz cenny feedback pomoże nam w zdobyciu lepszej oceny</p>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">W jaki sposób mogę otrzymać pomoc?</h5>

        </div>
        <p class="mb-1">Napisz do nas maila na adres supportteam@todo.app a my skontaktujemy się z Tobą tak szybko jak to możliwe</p>


    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Czy mogę wykorzystać wasze rozwiązanie do celów komercyjnych</h5>

        </div>
        <p class="mb-1">Jak najbardziej! Niezależnie od tego czy jesteś studentem, mikroprzedsiębiorcą czy też prezesem międzynarodowej korporacji zachęcamy Cię do sprawdzenia naszych możliwości</p>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Czy posiadacie jakiś tutorial korzystania z aplikacji?</h5>

        </div>
        <p class="mb-1">Spokojnie, nasze rozwiązanie jest na tyle proste, że nie potrzebujesz żadych poradników. Dodatkowo możesz pobrać cały kod naszej aplikacji i dowolnie ją modyfikować pod swoje potrzeby.</p>


    </a>


    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ile osób może liczyć nasz zespół?</h5>

        </div>
        <p class="mb-1">Mamy dla Ciebię dobre wieści. Na Ziemi nie ma obecnie wystarczającej ilości użytkowników komputerów, aby przekroczyć nasze limity dotyczące ilości członków w zespole</p>

    </a>



    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ile projektów mogę u Was otworzyć?</h5>

        </div>
        <p class="mb-1">Dla każdego pojedynczego zdjęcia, które kiedykolwiek zrobiłeś, możesz przy pomocy jednego konta stworzyć całkowicie za darmo osobny projekt</p>


    </a>

















</div>
