@page "/register"
@using ImageAnnotationToolDataAccessLibrary.Models.TeamManagement;
@using System.ComponentModel.DataAnnotations;

<h3>Register</h3>


<form>
	<label> Name: </label>
	<input type="text"
		   name="Name">
	
</form>

<form>
	<label> Surname: </label>
	<input type="text"
		   name="Surname">
</form>

<form>
	<label> Email: </label>
    <input type="email" 
	name="emailaddress"> 
</form>

<form>
	<label> Password: </label>
	<input type="password"
		   name="password">
</form>

<form>
	<label> Confirm password: </label>
	<input type="password"
		   name="confirmpassword">
</form>

<br/>

<EditForm Model="@signInFormData">
	<DataAnnotationsValidator />
	<InputText 
		type="password" 
		placeholder="Password" 
		@bind-Value="@signInFormData.Password" />
	<ValidationSummary />
</EditForm>

<button
	type="submit"
		class="btn btn-success form-"
		@onclick="@AddNewAccount">

	Zarejestruj
</button>


@code {
	private class SignInFormData
	{
		public string Login { get; set; }
		public string Email { get; set; }

		private const int MINIMUM_PASSWORD_LENGTH = 10;

		[Required(ErrorMessage = "Pole wymagane")]
		[StringLength(
			int.MaxValue, 
			MinimumLength = MINIMUM_PASSWORD_LENGTH, 
			ErrorMessage = "Hasło musi składać się z conajmniej 10 znaków")]

		public string Password { get; set; }
	}

	private SignInFormData signInFormData = new();

	private async Task AddNewAccount()
	{
		
	}
}
