@page "/upload"
@using System.Drawing;
@using System.Text;
@using ImageProcessing;

<PageTitle>Test wczytywania plików</PageTitle>

<h1>Naciśnij, aby wczytać</h1>

<InputFile OnChange="@LoadFiles"
    multiple 
    draggable="true" 
    accept=".png,.jpg,.jpeg"/>

@code{
    private List<string>? images;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var maxFiles = e.FileCount;
        var files = e.GetMultipleFiles(maxFiles);

        var scaleTasks = files
            .Select(f => BrowserFileImageScaler.ScaleAsync(f, 400, 400));

        var convertTasks = (await Task.WhenAll(scaleTasks))
            .Select(FileConverter.BrowserFileToBase64Async);

        images = (await Task.WhenAll(convertTasks)).ToList();
        ; ;
    }
}
