@page "/upload"
@using System.Drawing;
@using System.Text;
@using ImageProcessing;

<PageTitle>Test wczytywania plików</PageTitle>

<h1>Naciśnij, aby wczytać</h1>

<InputFile OnChange="@LoadFiles"
    multiple 
    draggable="true" 
    accept=".png,.jpg,.jpeg"/>

<h1>@testCount</h1>
<h1>@allCount</h1>

@code{
    private List<string>? images;
    private int testCount;
    private int allCount;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var maxFiles = e.FileCount;
        var files = e.GetMultipleFiles(maxFiles);

        var tasks = await Task.WhenAll(
            files.Select(FileConverter.BrowserFileToBase64Async)
        );

        images = tasks.ToList();
    }
}
