@page "/MainPageAfterLogOn"

<div class="page-after-logon">
<nav>
	<ul>
		<li>
			<h5 class="muted-headers">
				Zespoły
			<button type="button" >
				+
			</button>
			</h5>
			
		</li>

		<li>
			<h5 class="headers-nav">
				Zespół Alpha Beta Omega
			
			</h5>
			<table>
			<tr class="nav-team-setting">
				
				<td>Projekty</td>
				<td>Członkowie</td>
				<td>Ustawienia</td>
			</tr>
		</table>
		</li>

		<li>
			<h5 class="headers-nav">
				Zespół Alpha
			
			</h5>
			<table>
			<tr class="nav-team-setting">
				
				<td>Projekty</td>
				<td>Członkowie</td>
				<td>Ustawienia</td>
			</tr>
		</table>
		</li>
	</ul>
	
</nav>

<div class="main-container">
	<h5 class="muted-headers">
				TWOJE ZESPOŁY
				</h5>
	<section class="container-teams">
		<table>
			<tr class="container-team-setting">
				<th>Zespół Alpha</th>
				<td>Projekty</td>
				<td>Członkowie</td>
				<td>Ustawienia</td>
			</tr>
		</table>
		
		<ul class="container-projects">
			<li>
				<h5 class="project-name">
					Projekt_1
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Projekt_2
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Projekt_3
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Projekt_4
				</h5>
			</li>
		</ul>
	</section>

	<section class="container-teams">
		<table >
			<tr class="container-team-setting">
				<th>Zespół Alpha</th>
				<td>Projekty</td>
				<td>Członkowie</td>
				<td>Ustawienia</td>
			</tr>
		</table>
		
		<ul  class="container-projects">
			<li>
				<h5 class="project-name">
					Projekt_1
				</h5>
			</li>

		</ul>
	</section>
</div>

</div>
@code {

}
