@page "/projects"
@using ImageAnnotationTool.Pages.AppPages.Shared
<div class="page-after-logon">
<_leftMenu/>

<div class="main-container">
	

		<table>
			<tr class="container-team-setting">
				<th>Zespół Alpha</th>
				<td>Edycja</td>
			</tr>
		</table>
		<h5 class="muted-headers">
				TWOJE PROJEKTY
				</h5>
		<ul class="container-projects">
			<li>
				<h5 class="project-name">
					Projekt_1
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Projekt_2
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Projekt_3
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Projekt_4Projekt_4Projekt_4Projekt_4
				</h5>
			</li>
			<li>
				<h5 class="project-name">
					Dodaj nowy projekt +
				</h5>
			</li>
		</ul>
	

</div>

</div>
@code {

}
