<nav>
	<ul>
		<li>
			<h5 class="muted-headers">
				Zespoły
			<button type="button" >
				+
			</button>
			</h5>
			
		</li>

		<li>
			<h5 class="headers-nav">
				Zespół Alpha Beta Omega
			
			</h5>
			<table>
			<tr class="nav-team-setting">
				
				<td><a>Projekty</a></td>
				<td><a>Członkowie</a></td>
				<td><a>Ustawienia</a></td>
			</tr>
		</table>
		</li>

		<li>
			<h5 class="headers-nav">
				Zespół Alpha
			
			</h5>
			<table>
			<tr class="nav-team-setting">
				
				<td><a>Projekty</a></td>
				<td><a>Członkowie</a></td>
				<td><a>Ustawienia</a></td>
			</tr>
		</table>
		</li>
	</ul>
	
</nav>