@inherits LayoutComponentBase

<PageTitle>Fotograf</PageTitle>

    <body>
    
        <_navMenu />
    

        

        <article class="content px-4">
            @Body
        </article>
   
  
        @*<_cookies/>*@
        <_footer/>
    
 </body>