@inherits LayoutComponentBase

<PageTitle>Fotograf</PageTitle>

    <body>
    <div class="container-main">
        <_header />
    

        

        <article class="content px-4">
            @Body
        </article>
   
  
        @*<_cookies/>*@
        <_footer/>
    </div>
 </body>