@inherits LayoutComponentBase

<PageTitle>Fotograf</PageTitle>

   
    <div class="container-main">
        <_header />
    

        

        <article>
            @Body
        </article>
   
  
        @*<_cookies/>*@
        <_footer/>
    </div>
